body{
    font-family: Arial, sans-serif;
    background-color:hsl(0,0%, 95%) ;
}

h1{
    color: hsl(240, 90%, 66%)
}

form{
    background-color:hsl(0, 0%, 100%) ;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.323);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.74);
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: red;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius:5px ;
    color: white;
    cursor: pointer;
}

#result{
    font-size: 1.75;
    font-weight: bold;
}